*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Cinzel', serif; /* Гарнитура шрифта */
    src: url(https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap); /* Путь к файлу со шрифтом */
}
.title{
    width: auto;
    height: 50px;
    background-color: black;
    text-align: center;
    
    color: rgb(199, 153, 241);
}
.title h1{
    font-family: 'Cinzel', serif;
    padding-top: 5px;
}
.title2{
    width: auto;
    height: 200px;
    background-color: rgb(199, 153, 241);
    color: black;
    text-align: center;
}
.title2 p{
    font-family: 'Cinzel', serif;
    font-size: 60px;
    padding-top: 60px;
    
}

.nav{
    text-align: center;
}

ul.ulnavinside{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.ulnavinside li{
    display: inline;
    width: 24%;
}
ul.ulnavinside a{
    display: inline-block;
    width: 5em;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(199, 153, 241);
    border: 1px solid grey;
    text-decoration: none;
    color: black;
    text-align: center;
}
ul.ulnavinside a:hover{
    background-color: black;
    color: rgb(199, 153, 241);
    font-weight: bolder;
}
    

.nav{
    width: auto;
    height: 50px;
    background-color: black;
}
ul.ulsidebar{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
ul.ulsidebar a{
    display: block;
    width: 7em;
    padding: 10px;
    margin-top: 3px;
    background-color: rgb(199, 153, 241);
    text-decoration: none;
    color: black;
}
ul.ulsidebar a:hover{
    background-color: black;
    color: rgb(199, 153, 241);
}
#sidebar h1{
    margin-top: 2px;
    text-decoration: underline overline;
}
#sidebar{
    float: left;
    width: 200px;
    height: auto;
    background-color: rgb(199, 153, 241);
    color: black;
}
#sidebar a{
    font-family: 'Cinzel', serif;
    font-size: 25px;
    text-decoration: none;
}
#sidebar a:visited{
    color: black;
}
#sidebar a:hover{
    color: rgb(199, 153, 241);
}
#main{
    background-color: rgb(199, 153, 241);
    color: black;
}

footer{
    background-color: black;
    color:rgb(199, 153, 241) ;
    text-align: center;
    clear: both;
}
