*{
    margin: 0;
    padding: 0;
}

.title{
    width: auto;
    height: 50px;
    background-color: black;
    text-align: center;
    
    color: rgb(199, 153, 241);
}
.title h1{
    padding-top: 5px;
}
.title2{
    width: auto;
    height: 200px;
    background-color: rgb(199, 153, 241);
    color: black;
    text-align: center;
}
.title2 p{
    font-size: 60px;
    padding-top: 60px;
}